<header>
    <nav class="navbar navbar-light bg-dark">
            <div class="container">
                <a class="navbar-brand text-white" href="/">Vagas</a>
                <a href="/openjob"> <button class="btn btn-primary">Abrir Vaga</button></a>
            </div>
        </div>
    </nav>
</header>