body {
    background-color: #CDCCCC !important;
}

/* CSS FORMULARIO PARA CADASTRAR VAGA */
.formulario {
    width: 800px !important;
}

/* IMG CAPA HOME */
.img-capa {
    background-image: url('../img/los.jpg');
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    position: relative;
}

/* INPUT DE PESQUISA */
.input-pesquisa {
    width: 800px !important;
    margin-right: 15px;
}

/* IMG CARD VAGA */
.img-empresa{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

/* CARD */
h3 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

